<template name="home">
  <div class="template-home">
    <div class="row">
    	<div class="col-md-3">
    	</div>
    	<div class="col-md-6">
    		{{>createPoll}}
    	</div>
    	<div class="col-md-2">
    	</div>
    </div>
  </div>
</template>

<template name="createPoll">
	<div class="well">
		<h3 class="text-center" id="create-poll">Create Poll</h3>
		{{#if poll.questionText}}
			<h4>QUESTION:</h4>
			<div id="question">
				"{{ poll.questionText }}"<a href="#" class="pull-right" id="editQuestion"><i class="fa fa-pencil-square-o"></i></a>
			</div>
		{{/if}}
		<form id="pollForm">
			{{#if poll.questionText }}
			{{else}}
				<div class="form-group">
					<input type="text" name="pollQuestion" class="form-control" id="pollQuestion" placeholder="Type your polling question" autocomplete="off">
					
				</div>
			{{/if}}
			<hr>
		</form>

		{{#unless poll.options.editable }}
			{{#if poll.responses }}
				Preview:
				<form id="responseOptions">
					<div class="form-group">
						{{#each poll.responses }}
							<div class="{{poll.options.pollType}}">
								<label>
									<input type="{{poll.options.pollType}}" disabled="true">
									{{ responseText }}
								</label>
							</div>
						{{/each}}
					</div>
					{{#if poll.options.comments}}
						<div class="form-group">
							<label>
								Comment:
								<input type="text" name="comment" class="form-control" id="comment" placeholder="Type comment here" autocomplete="off" disabled="true">
							</label>
						</div>
					{{/if}}
				</form>
			{{/if}}
			Add a new response option
			<form id="newResponseItem">
				<input type="text" name="newResponseItem" class="form-control" placeholder="Poll Response" autocomplete="off">
			</form>
			<hr>
			<div>
				Options:<a href="#" class="pull-right" id="editOptions"><i class="fa fa-pencil-square-o"></i></a>
				<p>
					<strong>Poll Type:</strong> {{ poll.options.pollType }}<br />
					<strong>Comments:</strong> {{#if poll.options.comments}}Enabled{{else}}Disabled{{/if}}
				</p>
			</div>
		{{else}}
			What type of poll would you like?
			<form id="pollOptions">
				<div class="form-group">
					<div class="radio">
						<label>
						<input type="radio" name="pollTypeRadios" id="checkbox" value="checkbox">
						Checkboxes (Users may select more than one)
						</label>
					</div>
					<div class="radio">
						<label>
						<input type="radio" name="pollTypeRadios" id="radio" value="radio">
						Radio (Users may select only one)
						</label>
					</div>
					<div class="checkbox">
						(Optional)<br />
						<label>
							<input type="checkbox" name="commentOpt" value="" checked="{{poll.options.comments}}">
							Allow users to type a comment
						</label>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		{{/unless}}	
	</div>	
</template>
